
*{
    margin: 0;
    padding:0;
    background-color: #1B3050;
}

.contents h1{
    color: orange;   
    margin-top: 2%;
    margin-left: 10%;
}

.contents sub{
    color: #8EFCBA;
    font-size: small;
}

.main img{
    height: 500px;
    width: 450px;
    border-radius: 70%;
    margin-top: 5%;
    margin-left: 50%;
}
.contents p{
    color: #fff;
    margin-left: 10%;
    font-size: larger;
}

/* Animation */

#rotation img{
    animation: rotation 1s;
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}

.linear {
    animation-timing-function: linear;
  }

  .infinite {
    animation-iteration-count: infinite;
  }

  #rotate img {
    animation: rotation 10s linear infinite;
  }
