*{
    margin: 0;
    padding: 0;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .App-header h2 {
    color: #8EFCBA;
    margin-top: 2%;
  }
  
  .add-movies {
    text-align: center;
  }
  
  .add-movies button {
    font-size: 16px;
    padding: 8px;
    margin: 0 10px 30px 10px;
  }
  
  .movie {
    padding: 5px 25px 10px 25px;
    max-width: 25%;
    color: orange;
  }
  
  .errorMessage {
    margin: auto;
    font-weight: bold;
    color: rgb(161, 15, 15);
  }
  
  
  
  .search {
    color: #8EFCBA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    
  }
  
  
  input[type="submit"] {
    width:95px;
    height:40px;
    color: #8EFCBA;
    font-size: large;
    font-weight: 800;
    border: none;
    border-radius: 10%;
    background-color: #794e15;
  }
  
  
  input[type="submit"]:hover {
    background-color: #282c34;
    color: antiquewhite;
  }
  

  input[type="text"]{
    min-width: 30%;
    width:550px;
    height:45px;
    padding-left:15px;
    border-radius:12px;
    border:none;
    color:#8EFCBA;
    font-weight:600;
    font-size: larger;
    background-color: orange;
    -webkit-box-shadow:
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    -moz-box-shadow: 
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    box-shadow:
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}


/* Movie Posters */





  
  @media screen and (min-width: 694px) and (max-width: 915px) {
    .movie {
      max-width: 33%;
    }
  }
  
  @media screen and (min-width: 652px) and (max-width: 693px) {
    .movie {
      max-width: 50%;
    }
  }
  
  
  @media screen and (max-width: 651px) {
    .movie {
      max-width: 100%;
      margin: auto;
    }
  }
  
  
  
  
  
  