*{
    margin: 0;
    padding: 0;
}

/* MovieListHeading */
.row{
    color: #8EFCBA;
}
/* For MovieList UNDER SEARCH.JS*/

.movie-app > .row{
    overflow: auto;
    flex-wrap: nowrap;
}

.image-container{
    display: flex;
    justify-content: center;
    position: relative;
    transition: transform 0.2s;
    margin-bottom: 10%;
}

.image-container:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay{
    opacity: 1;
}

.overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    padding: 20px;
    text-align: center;

}


/* For Search Box */
.search-box{
    margin-left: 40%;
}

.searchbox{
    background-color:#ee8e44;
    padding:10px;
    width:678px;
    margin:50px auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:6px;
    -webkit-box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    -moz-box-shadow: 
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    box-shadow: 
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 
        0 2px 4px 2px rgba(238, 222, 222, 0.83) inset;
}
input[type="search"]{
    width:550px;
    height:45px;
    padding-left:15px;
    border-radius:6px;
    border:none;
    color:#939393;
    font-weight:600;
    font-size: larger;
    background-color:#fffbf8;
    -webkit-box-shadow:
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    -moz-box-shadow: 
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    box-shadow:
        0 -2px 2px 0 rgba(199, 199, 199, 0.55),
        0 1px 1px 0 #fff,
        0 2px 2px 1px #fafafa,
        0 2px 4px 0 #b2b2b2 inset,
        0 -1px 1px 0 #f2f2f2 inset,
        0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}

button[type="submit"]{
    width:90px;
    height:40px;
    color: orange;
    font-size: large;
}
